<h1>Editing Plan</h1>

Added Spot<br>
<% @spots.each do |s| %>
    name:
    <%= s.name%>|
    address:
    <%= s.address%>|
    body:
    <%= s.body%>|
    <%= button_to 'Destroy',delete_plan_spot_path(:plan_id =>params[:id], :spot_id => s.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    <br>
<% end %>

<h3><%= link_to "Add Spot" ,new_plan_spots_path(:plan_id => @plan.id) %></h3>


<%= render 'form', plan: @plan %>

<%= link_to 'Show', @plan %> |
<%= link_to "Back", :back %>
